API_PORT="" //  PORT NA KOJEM ĆE SE POKRENUTI BACKEND SERVER -> Example: 3001
DATABASE_URL="" //  LINK ZA POVEZATI LOKALNU POSTGRESQL DATABAZU ->  Example: postgresql://username:password@localhost:5432/database_name
